handle_path /* {
    request_body {
        max_size 1024MB
    }
}

@dashboard_apps {
    host apps.learn.disco.nce.center
    path /learner-dashboard/*
}
redir @dashboard_apps https://disco.nce.center/dashboard permanent